<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jstl/core"  >
<ui:composition template="/WEB-INF/facelets/templates/principal.xhtml">
    <ui:define name="title">
        <h:outputText value="Clientes"/>
    </ui:define>
    <ui:define name="content">
        <h1>Reservas</h1>
        <h:form id="fPrincipal">
            <p:growl id="growl"/>
            <p:panel header="Dados Cliente" id="pnlProcurarCliente">
                <table>
                    <tr>
                        <td><p:outputLabel value="Cod. Cliente"/></td>
                        <td><p:inputText id="txtCodCliente"
                                         value="#{ClienteBean.objClienteProcura.codCliente}"/>
                        </td>
                        <td><p:outputLabel value="Nome"/></td>
                        <td><p:inputText id="txtNomeCliente"
                                         value="#{ClienteBean.objClienteProcura.nome}"/>
                        </td>
                        <td><p:outputLabel value="Sobre Nome"/></td>
                        <td><p:inputText id="txtSobreNomeCliente"
                                         value="#{ClienteBean.objClienteProcura.sobreNome}"/>
                        </td>
                    </tr>
                    <tr>
                        <td><p:outputLabel value="Doc. Id"/></td>
                        <td><p:inputText id="txtDocIdCliente"
                                         value="#{ClienteBean.objClienteProcura.docId}"/>
                        </td>
                        <td><p:outputLabel value="CPF"/></td>
                        <td><p:inputText id="txtCPF"
                                         value="#{ClienteBean.objClienteProcura.cpf}"/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <p:commandButton value="Procurar Cliente" icon="ui-icon-search"
                                             actionListener="#{ClienteBean.procurarClientes}"
                                             update=":fPrincipal"/>

                            <p:commandButton value="Novo Cliente" icon="ui-icon-plusthick"
                                             ajax="false" actionListener="#{ClienteBean.openCadastro}"/>
                        </td>
                    </tr>
                </table>
                <p:dataTable id="tblClientes" var="cliente"
                             value="#{ClienteBean.lstClientes}"
                             emptyMessage="Não existem apartamentos livres">
                    <p:column headerText="Cod Cliente " style="width:5%">
                        <h:outputText value="#{cliente.codCliente}"/>
                    </p:column>
                    <p:column headerText="Nome" style="width:15%">
                        <h:outputText value="#{cliente.nome} #{cliente.sobreNome}"/>
                    </p:column>
                    <p:column headerText="CPF" style="width:15%">
                        <h:outputText value="#{cliente.cpf}"/>
                    </p:column>
                    <p:column headerText="Doc. Id" style="width:15%">
                        <h:outputText value="#{cliente.docId} "/>
                    </p:column>
                    <p:column headerText="Telefono" style="width:15%">
                        <h:outputText value="#{cliente.telefono} "/>
                    </p:column>
                    <p:column style="width:5%" headerText="Sel">
                        <p:commandButton id="btnSelecionar"
                                         icon="ui-icon-ok" title="Selecionar"
                                         update=":fPrincipal"
                                         actionListener="#{ClienteBean.selecionarCliente(cliente)}">
                            <f:setPropertyActionListener value="#{cliente}"
                                                         target="#{ClienteBean.objClienteSelect}"/>
                        </p:commandButton>
                    </p:column>
                </p:dataTable>
            </p:panel>
        </h:form>
        <p:dialog header="Clientes" widgetVar="clientesDialog" resizable="false" id="dlgClientes"
                  showEffect="fade" hideEffect="fade" modal="true" visible="#{ClienteBean.vCadastroCliente}">
            <h:form id="formEditCliente">
                <p:panel id="pnlEditCliente">
                    <h:panelGrid id="gridClientes" columns="3" cellpadding="4" style="margin:0 auto;">

                        <h:outputLabel value="Nome:" for="txtEditNomeCliente"/>
                        <p:inputText value="#{ClienteBean.objClienteCadastroSelect.nome}"
                                     style="font-size: 9"
                                     id="txtEditNomeCliente" />
                        <p:message for="txtEditNomeCliente" id="msgNomeCliente" display="icon"/>

                        <h:outputLabel value="Sobre Nome:" for="txtEditSobreNomeCliente"/>
                        <p:inputText value="#{ClienteBean.objClienteCadastroSelect.sobreNome}"
                                     style="font-size: 9"
                                     id="txtEditSobreNomeCliente" />
                        <p:message for="txtEditSobreNomeCliente" id="msgSobreNomeCliente" display="icon"/>

                        <h:outputLabel value="Email:" for="txtEditEmail"/>
                        <p:inputText value="#{ClienteBean.objClienteCadastroSelect.EMail}"
                                     style="font-size: 9"
                                     id="txtEditEmail" />
                        <p:message for="txtEditEmail" id="msgEditEmail" display="icon"/>

                        <h:outputLabel value="País:" for="cbxEditPais"/>
                        <p:selectOneMenu style="width: 150px" id="cbxEditPais"
                                         value="#{ClienteBean.paisSelect}">
                            <f:selectItem itemLabel="Selecione um" itemValue=""/>
                            <f:selectItems value="#{ClienteBean.lstPaises}"/>
                        </p:selectOneMenu>
                        <p:message for="cbxEditPais" id="msgEditPais" display="icon"/>

                        <h:outputLabel value="Cidade:" for="txtEditCidade"/>
                        <p:inputText value="#{ClienteBean.objClienteCadastroSelect.cidade}"
                                     style="font-size: 9"
                                     id="txtEditCidade" />
                        <p:message for="txtEditCidade" id="msgEditCidade" display="icon"/>

                        <h:outputLabel value="Endereço:" for="txtEditEndereco"/>
                        <p:inputText value="#{ClienteBean.objClienteCadastroSelect.endereco}"
                                     style="font-size: 9"
                                     id="txtEditEndereco" />
                        <p:message for="txtEditEndereco" id="msgEditEndereco" display="icon"/>

                        <h:outputLabel value="Telefone:" for="txtEditTelefone"/>
                        <p:inputText value="#{ClienteBean.objClienteCadastroSelect.telefono}"
                                     style="font-size: 9"
                                     id="txtEditTelefone" />
                        <p:message for="txtEditTelefone" id="msgEditTelefone" display="icon"/>

                        <h:outputLabel value="CPF:" for="txtEditCPF"/>
                        <p:inputText value="#{ClienteBean.objClienteCadastroSelect.cpf}"
                                     style="font-size: 9"
                                     id="txtEditCPF" />
                        <p:message for="txtEditCPF" id="msgEditCPF" display="icon"/>

                        <h:outputLabel value="Doc Id:" for="txtEditDocId"/>
                        <p:inputText value="#{ClienteBean.objClienteCadastroSelect.docId}"
                                     style="font-size: 9"
                                     id="txtEditDocId"/>
                        <p:message for="txtEditDocId" id="msgEditDocId" display="icon"/>

                    </h:panelGrid>
                    <br/>
                    <p:commandButton id="btnSalavar" value="Salvar"
                                     actionListener="#{ClienteBean.cadastrarCLiente}"
                                     update=":fPrincipal" ajax="false"
                                     icon="ui-icon-disk"

                                     />
                    <p:commandButton id="btnCancelar" value="Cancelar" ajax="false"
                                     icon="ui-icon-cancel" actionListener="#{ClienteBean.closeCadastro}" immediate="true"
                            />
                </p:panel>
            </h:form>
        </p:dialog>
    </ui:define>
</ui:composition>
</html>
