<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<ui:composition template="/WEB-INF/facelets/templates/principal.xhtml">
    <ui:define name="title">
        <h:outputText value="Estadias"/>
    </ui:define>
    <ui:define name="content">
        <h1>Estadias</h1>
        <h:form>
            <p:commandButton value="Nova Estadia" actionListener="#{EstadiaBean.nuevaEstadia}" ajax="false"
                             icon="ui-icon-plusthick"/>
            <p:dataTable id="tblReservas" var="estadia" value="#{EstadiaBean.lstEstadias}" paginator="true"
                         rows="10" paginatorPosition="bottom" rowsPerPageTemplate="10,20,50" widgetVar="estadiasTable"
                         emptyMessage="Não existen dados" filteredValue="#{EstadiaBean.lstEstadiasFilter}">
                <!--<f:facet name="header">
                    <p:outputPanel>
                        <h:outputText value="Dado para procurar:" />
                        <p:inputText id="globalFilter" onkeyup="estadiasTable.filter()" style="width:150px" />
                    </p:outputPanel>
                </f:facet>-->
                <p:column headerText="Cod. Cliente " style="width:5%" filterBy="#{estadia.clienteTitular.codCliente}">
                    <h:outputText value="#{estadia.clienteTitular.codCliente}"/>
                </p:column>
                <p:column headerText="Nome" style="width:15%" filterBy="#{estadia.clienteTitular.nome}">
                    <h:outputText value="#{estadia.clienteTitular.nome}"/>
                </p:column>
                <p:column headerText="Sobre Nome" style="width:15%" filterBy="#{estadia.clienteTitular.sobreNome}">
                    <h:outputText value="#{estadia.clienteTitular.sobreNome}"/>
                </p:column>
                <p:column headerText="Inicio Estadia" style="width:15%">
                    <h:outputText value="#{EstadiaBean.dateToStringShort(estadia.dataInicio)}"/>
                </p:column>
                <p:column headerText="Fin Estadia" style="width:15%">
                    <h:outputText value="#{EstadiaBean.dateToStringShort(estadia.dataFin)}"/>
                </p:column>
                <p:column headerText="Apartamento" style="width:15%" filterBy="#{estadia.apartamento.numero}">
                    <h:outputText value="#{estadia.apartamento.numero}"/>
                </p:column>
                <p:column headerText="Tipo" style="width:15%">
                    <h:outputText value="#{estadia.apartamento.tipo.descricao}"/>
                </p:column>
                <p:column style="width:5%" headerText="Check Out">
                    <p:commandButton id="btnCheckOut" disabled="#{EstadiaBean.dataActual(estadia.dataInicio)}"
                                     icon="ui-icon-circle-arrow-n" title="Check Out"
                                     actionListener="#{EstadiaBean.terminarEstadia(estadia)}"
                                     ajax="false">

                    </p:commandButton>
                </p:column>

            </p:dataTable>
        </h:form>
        <p:dialog header="Mensaje" widgetVar="mensajeDialog" resizable="false"
                  id="dlgMensaje"
                  showEffect="fade" hideEffect="fade" modal="true" visible="#{EstadiaBean.vMensaje}">
            <h:form id="formMensaje">
                <p:panel id="pnlMensaje">
                    <table>
                        <tr>
                            <td><p:outputLabel value="Nome" style="font-weight: bold"/></td>
                            <td><p:outputLabel
                                    value="#{EstadiaBean.estadiaSelected.clienteTitular.nome} #{EstadiaBean.estadiaSelected.clienteTitular.sobreNome}"
                                    id="lblNomeCliente"/></td>
                            <td><p:outputLabel value="Cod Cliente" style="font-weight: bold"/></td>
                            <td><p:outputLabel value="#{EstadiaBean.estadiaSelected.clienteTitular.codCliente}"
                                               id="lblCodCliente"/></td>
                        </tr>
                        <tr>
                            <td><p:outputLabel value="Apartamento" style="font-weight: bold"/></td>
                            <td><p:outputLabel
                                    value="#{EstadiaBean.estadiaSelected.apartamento.numero}"
                                    id="lblNumeroApartamento"/></td>
                            <td><p:outputLabel value="Costo x Dia" style="font-weight: bold"/></td>
                            <td><p:outputLabel value="#{EstadiaBean.estadiaSelected.apartamento.costo}"
                                               id="lblCostoDia"/></td>
                        </tr>
                        <tr>
                            <td><p:outputLabel value="DataEntrada" style="font-weight: bold"/></td>
                            <td><p:outputLabel
                                    value="#{EstadiaBean.dateToStringShort(EstadiaBean.estadiaSelected.dataInicio)}"
                                    id="lblDataEntrada"/></td>
                            <td><p:outputLabel value="Data saída" style="font-weight: bold"/></td>
                            <td><p:outputLabel value="#{EstadiaBean.dateToStringShort(EstadiaBean.estadiaSelected.dataFin)}"
                                               id="lblDataSaida"/></td>
                        </tr>
                        <tr>
                            <td><p:outputLabel value="Número Hóspedes" style="font-weight: bold"/></td>
                            <td><p:outputLabel
                                    value="#{EstadiaBean.estadiaSelected.numeroPessoas}"
                                    id="lblNumeroHospedes"/></td>
                            <td><p:outputLabel value="Número días" style="font-weight: bold"/></td>
                            <td><p:outputLabel value="#{EstadiaBean.numeroDias}"
                                               id="lblNumeroDias"/></td>
                        </tr>
                        <tr>
                            <td><p:outputLabel value="Cama Extra" style="font-weight: bold"/></td>
                            <td><p:outputLabel
                                    value="#{EstadiaBean.estadiaSelected.camaExtra}"
                                    id="lblCamaExtra"/></td>
                            <td><p:outputLabel value="Costo Total" style="font-weight: bold"/></td>
                            <td><p:outputLabel value="#{EstadiaBean.estadiaSelected.costo}"
                                               id="lblCostoTotal"/></td>
                        </tr>
                    </table>
                    <br/>
                    <p:commandButton id="btnCerrarMensaje" value="Aceptar" actionListener="#{EstadiaBean.confirmCheckOut}"
                                     icon="ui-icon-check" immediate="true" ajax="false"/>
                </p:panel>
            </h:form>
        </p:dialog>
    </ui:define>
</ui:composition>
</html>
