<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<ui:composition template="/WEB-INF/facelets/templates/principal.xhtml">
<ui:define name="title">
    <h:outputText value="Registro Estadia"/>
</ui:define>
<ui:define name="content">
<h1>Estadias</h1>
<h:form id="fPrincipal">
<p:growl id="growl"/>
<p:tabView id="tabView" orientation="left">

<p:tab id="tab1" title="Dados Apartamento">
    <table width="800" align="center">
        <tr>
            <td>
                <p:panel header="Dados Apartamento">
                    <table>
                        <tr>
                            <td><p:outputLabel value="Data Ingreso"/></td>
                            <td><p:calendar id="calDataIngreso" pattern="dd/MM/yyyy"
                                            value="#{RegistroEstadiaBean.dataInicio}" readonly="true"
                                            mindate="#{RegistroEstadiaBean.minDataValue}" readonlyInput="true">
                                <p:ajax event="dateSelect" listener="#{RegistroEstadiaBean.dataModificada}"
                                        update=":fPrincipal"/>
                            </p:calendar>
                            </td>
                            <td><p:outputLabel value="Data Saida"/></td>
                            <td><p:calendar id="calDataSaida" pattern="dd/MM/yyyy" readonlyInput="true"
                                            value="#{RegistroEstadiaBean.dataFin}"
                                            mindate="#{RegistroEstadiaBean.getMinDataValue(RegistroEstadiaBean.dataInicio)}"/>
                            </td>
                        </tr>
                        <tr>
                            <td><p:outputLabel value="TIpo Apartamento"/></td>
                            <td>
                                <p:selectOneMenu style="width: 150px"
                                                 value="#{RegistroEstadiaBean.tipoApartamentoSelecionado}">
                                    <f:selectItem itemLabel="Standar" itemValue="ST"/>
                                    <f:selectItem itemLabel="Vista Bosque" itemValue="VB"/>
                                    <f:selectItem itemLabel="Vista Vale" itemValue="VV"/>
                                    <f:selectItem itemLabel="Suíte" itemValue="SU"/>
                                </p:selectOneMenu>
                            </td>
                            <td><p:outputLabel value="Cama Extra"/></td>
                            <td><p:selectOneMenu style="width: 50px"
                                                 value="#{RegistroEstadiaBean.camaExtra}">
                                <f:selectItem itemLabel="Não" itemValue="N"/>
                                <f:selectItem itemLabel="Sim" itemValue="S"/>
                            </p:selectOneMenu>
                            </td>
                        </tr>
                        <tr>
                            <td><p:outputLabel value="Numero Pessoas"/></td>
                            <td>
                                <p:inputText id="txtNumePessoas" value="#{RegistroEstadiaBean.numeroPessoas}"/>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <p:commandButton value="Procurar Apartamento" icon="ui-icon-search"
                                                 actionListener="#{RegistroEstadiaBean.procurarApartamentosLivres}"
                                                 update=":fPrincipal"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <p:panel id="pnlTblApartamento" visible="#{RegistroEstadiaBean.vApartamentosLivres}">
                                    <p:dataTable id="tblApartamentos" var="apartamento"
                                                 value="#{RegistroEstadiaBean.lstApartamentosLivres}"
                                                 emptyMessage="Não existem apartamentos livres">
                                        <p:column headerText="Número " style="width:5%">
                                            <h:outputText value="#{apartamento.numero}"/>
                                        </p:column>
                                        <p:column headerText="Tipo" style="width:15%">
                                            <h:outputText value="#{apartamento.tipo.valor}"/>
                                        </p:column>
                                        <p:column headerText="Descriçao" style="width:15%">
                                            <h:outputText value="#{apartamento.descricao}"/>
                                        </p:column>
                                        <p:column headerText="Capacidade" style="width:15%">
                                            <h:outputText value="#{apartamento.capacidade} Pessoas"/>
                                        </p:column>
                                        <p:column headerText="Costo x Dia" style="width:15%">
                                            <h:outputText value="#{apartamento.costo} "/>
                                        </p:column>
                                        <p:column style="width:5%" headerText="Selecionar">
                                            <p:commandButton id="btnSelecionar" ajax="true"
                                                             icon="ui-icon-check" title="Selecionar"
                                                             update=":fPrincipal"
                                                             actionListener="#{RegistroEstadiaBean.selecionarApartamento(apartamento)}">
                                                <f:setPropertyActionListener value="#{apartamento}"
                                                                             target="#{RegistroEstadiaBean.objApartamentoSelect}"/>
                                            </p:commandButton>
                                        </p:column>
                                    </p:dataTable>
                                </p:panel>
                            </td>
                        </tr>
                        <tr>
                            <td><p:outputLabel value="Apartamento Num."/></td>
                            <td><p:outputLabel value="#{RegistroEstadiaBean.objApartamentoSelect.numero}"/></td>
                            <td><p:outputLabel value=" Descripçao"/></td>
                            <td><p:outputLabel value="#{RegistroEstadiaBean.objApartamentoSelect.descricao}"/></td>
                        </tr>
                        <tr>
                            <td><p:outputLabel value="Tipo"/></td>
                            <td><p:outputLabel value="#{RegistroEstadiaBean.objApartamentoSelect.tipo.valor}"/></td>
                            <td><p:outputLabel value=" Capacidade"/></td>
                            <td><p:outputLabel value="#{RegistroEstadiaBean.objApartamentoSelect.capacidade} Pessoas"/>
                            </td>
                        </tr>
                        <tr>
                            <td><p:outputLabel value="Costo x Dia"/></td>
                            <td><p:outputLabel value="#{RegistroEstadiaBean.objApartamentoSelect.costo}"/></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </p:panel>
            </td>
        </tr>
    </table>
</p:tab>
<p:tab id="tab2" title="Dados Cliente">
    <table width="800" align="center">
        <tr>
            <td>
                <p:panel header="Dados Cliente" id="pnlProcurarCliente"
                         visible="#{RegistroEstadiaBean.vClientes}">
                    <table>
                        <tr>
                            <td><p:outputLabel value="Cod. Cliente"/></td>
                            <td><p:inputText id="txtCodCliente"
                                             value="#{RegistroEstadiaBean.objClienteProcura.codCliente}"/>
                            </td>
                            <td><p:outputLabel value="Nome"/></td>
                            <td><p:inputText id="txtNomeCliente"
                                             value="#{RegistroEstadiaBean.objClienteProcura.nome}"/>
                            </td>
                            <td><p:outputLabel value="Sobre Nome"/></td>
                            <td><p:inputText id="txtSobreNomeCliente"
                                             value="#{RegistroEstadiaBean.objClienteProcura.sobreNome}"/>
                            </td>
                        </tr>
                        <tr>
                            <td><p:outputLabel value="Doc. Id"/></td>
                            <td><p:inputText id="txtDocIdCliente"
                                             value="#{RegistroEstadiaBean.objClienteProcura.docId}"/>
                            </td>
                            <td><p:outputLabel value="CPF"/></td>
                            <td><p:inputText id="txtCPF"
                                             value="#{RegistroEstadiaBean.objClienteProcura.cpf}"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6">
                                <p:commandButton value="Procurar Cliente" icon="ui-icon-search"
                                                 actionListener="#{RegistroEstadiaBean.procurarClientes}"
                                                 update=":fPrincipal"/>

                                <p:commandButton value="Nuevo Cliente" icon="ui-icon-search"
                                                 actionListener="#{RegistroEstadiaBean.procurarApartamentosLivres}"
                                                 update=":fPrincipal"/>
                            </td>
                        </tr>
                    </table>
                    <p:dataTable id="tblClientes" var="cliente"
                                 value="#{RegistroEstadiaBean.lstClientes}"
                                 emptyMessage="Não existem apartamentos livres">
                        <p:column headerText="Cod Cliente " style="width:5%">
                            <h:outputText value="#{cliente.codCliente}"/>
                        </p:column>
                        <p:column headerText="Nome" style="width:15%">
                            <h:outputText value="#{cliente.nome} #{cliente.sobreNome}"/>
                        </p:column>
                        <p:column headerText="CPF" style="width:15%">
                            <h:outputText value="#{cliente.cpf}"/>
                        </p:column>
                        <p:column headerText="Doc. Id" style="width:15%">
                            <h:outputText value="#{cliente.docId} "/>
                        </p:column>
                        <p:column headerText="Telefono" style="width:15%">
                            <h:outputText value="#{cliente.telefono} "/>
                        </p:column>
                        <p:column style="width:5%" headerText="Sel">
                            <p:commandButton id="btnSelecionar"
                                             icon="ui-icon-ok" title="Selecionar"
                                             update=":fPrincipal"
                                             actionListener="#{RegistroEstadiaBean.selecionarCliente(cliente)}">
                                <f:setPropertyActionListener value="#{cliente}"
                                                             target="#{RegistroEstadiaBean.objClienteSelect}"/>
                            </p:commandButton>
                        </p:column>
                    </p:dataTable>
                </p:panel>

                <p:panel header="Dados Cliente" id="pnlDadosCliente"
                         visible="#{!RegistroEstadiaBean.vClientes}">
                    <p:panel id="pnlBtnAtivaProcura" visible="#{RegistroEstadiaBean.vProcuraAtiva}">
                        <p:commandButton id="btnVisibleSelecionar"
                                         icon="ui-icon-ok" value="Selecionar Cliente" title="Selecionar"
                                         update=":fPrincipal"
                                         actionListener="#{RegistroEstadiaBean.fazVisibleSelecionarCliente}"/>
                    </p:panel>
                    <table width="100%">
                        <tr>
                            <td><p:outputLabel id="lblTitCodCliete" value="Cod. Cliente"
                                               style="font-weight: bold"/></td>
                            <td><p:outputLabel id="lblDadoCodCliete"
                                               value="#{RegistroEstadiaBean.objClienteSelect.codCliente}"/>
                            </td>
                            <td><p:outputLabel id="lblTitNomeCliente" value="Nome"
                                               style="font-weight: bold"/></td>
                            <td><p:outputLabel id="lblDadoNomeCliente"
                                               value="#{RegistroEstadiaBean.objClienteSelect.nome}"/>
                            </td>
                            <td><p:outputLabel id="lblTitSobreNomeCliente" value="Sobre Nome"
                                               style="font-weight: bold"/></td>
                            <td><p:outputLabel id="lblDadoSobreNomeCliente"
                                               value="#{RegistroEstadiaBean.objClienteSelect.sobreNome}"/>
                            </td>
                        </tr>
                        <tr>
                            <td><p:outputLabel id="lblTitDocIdCliente" value="Doc. ID"
                                               style="font-weight: bold"/></td>
                            <td><p:outputLabel id="lblDadoDocIdCliente"
                                               value="#{RegistroEstadiaBean.objClienteSelect.docId}"/>
                            </td>
                            <td><p:outputLabel id="lblTitCPF" value="CPF" style="font-weight: bold"/>
                            </td>
                            <td><p:outputLabel id="lblDadoCPF"
                                               value="#{RegistroEstadiaBean.objClienteSelect.cpf}"/>
                            </td>
                            <td><p:outputLabel value="Telefono" style="font-weight: bold"/></td>
                            <td><p:outputLabel id="lblTelefono"
                                               value="#{RegistroEstadiaBean.objClienteSelect.telefono}"/>
                            </td>
                        </tr>
                        <tr>
                            <td><p:outputLabel value="Pais" style="font-weight: bold"/></td>
                            <td><p:outputLabel id="lblPais"
                                               value="#{RegistroEstadiaBean.objClienteSelect.pais.valor}"/>
                            </td>
                            <td><p:outputLabel value="Cidade" style="font-weight: bold"/></td>
                            <td><p:outputLabel id="lblCidade"
                                               value="#{RegistroEstadiaBean.objClienteSelect.cidade}"/>
                            </td>
                            <td><p:outputLabel value="E-mail" style="font-weight: bold"/></td>
                            <td><p:outputLabel id="lblEmail"
                                               value="#{RegistroEstadiaBean.objClienteSelect.EMail}"/>
                            </td>
                        </tr>
                        <tr>
                            <td><p:outputLabel value="Endereço" style="font-weight: bold"/></td>
                            <td colspan="5"><p:outputLabel id="lblEndereco"
                                                           value="#{RegistroEstadiaBean.objClienteSelect.endereco}"/>
                            </td>
                        </tr>
                    </table>

                    <p/>

                    <p:commandButton id="btnRegistrarReserva" style="margin-right:10px;"
                                     icon="ui-icon-check" value="Cadastrar Estadia" title="Cadastrar Estadia"
                                     ajax="false"
                                     actionListener="#{RegistroEstadiaBean.cadastrarReserva}"/>
                </p:panel>

            </td>
        </tr>
    </table>
</p:tab>
</p:tabView>

</h:form>
<p:dialog header="Mensaje" widgetVar="mensajeDialog" resizable="false"
          id="dlgMensaje"
          showEffect="fade" hideEffect="fade" modal="true" visible="#{RegistroEstadiaBean.vMensaje}">
    <h:form id="formMensaje">
        <p:panel id="pnlMensaje">
            <p:outputLabel value="Cadastro da reserva feita"/>
            <br/>
            <p:commandButton id="btnCerrarMensaje" value="Aceptar" actionListener="#{RegistroEstadiaBean.voltarReserva}"
                             icon="ui-icon-check" immediate="true" ajax="false"/>
        </p:panel>
    </h:form>
</p:dialog>
</ui:define>
</ui:composition>
</html>
