<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<ui:composition template="/WEB-INF/facelets/templates/principal.xhtml">
    <ui:define name="title">
        <h:outputText value="Relatorio Cliente"/>
    </ui:define>
    <ui:define name="content">
        <h1>Relatorio Apartamento</h1>
        <h:form id="fPrincipal">
            <p:panel header="Procurar Apartamento" id="pnlProcurarApartamento">
                <table>
                    <tr>
                        <td><p:outputLabel value="Cod. Apartamento"/></td>
                        <td><p:inputText id="txtCodApartamento"
                                         value="#{ApartamentoBean.numeroProcura}"/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <p:commandButton value="Procurar Apartamento" icon="ui-icon-search"
                                             actionListener="#{ApartamentoBean.procurarApartamentos}"
                                             update=":fPrincipal"/>

                        </td>
                    </tr>
                </table>
                <p:panel id="pnlTableProcuraApartamento" visible="#{!ApartamentoBean.vRelatorioCliente}">
                    <p:dataTable id="tblApartamentos" var="apartamento"
                                 value="#{ApartamentoBean.lstApartamentos}"
                                 emptyMessage="Não existem apartamentos livres">
                        <p:column headerText="Número " style="width:5%">
                            <h:outputText value="#{apartamento.numero}"/>
                        </p:column>
                        <p:column headerText="Tipo" style="width:15%">
                            <h:outputText value="#{apartamento.tipo.valor}"/>
                        </p:column>
                        <p:column headerText="Descriçao" style="width:15%">
                            <h:outputText value="#{apartamento.descricao}"/>
                        </p:column>
                        <p:column headerText="Capacidade" style="width:15%">
                            <h:outputText value="#{apartamento.capacidade} Pessoas"/>
                        </p:column>
                        <p:column headerText="Costo x Dia" style="width:15%">
                            <h:outputText value="#{apartamento.costo} "/>
                        </p:column>
                        <p:column style="width:5%" headerText="Selecionar">
                            <p:commandButton id="btnSelecionar" ajax="true"
                                             icon="ui-icon-check" title="Selecionar"
                                             update=":fPrincipal"
                                             actionListener="#{ApartamentoBean.selecionarApartamento(apartamento)}">
                                <f:setPropertyActionListener value="#{apartamento}"
                                                             target="#{ApartamentoBean.objApartamentoSelect}"/>
                            </p:commandButton>
                        </p:column>
                    </p:dataTable>
                </p:panel>
            </p:panel>
            <p:panel id="pnlRelatorio" visible="#{ApartamentoBean.vRelatorioCliente}" header="Relatorio Cliente">
                <p:panel id="pnlDatosApartamentoRelatorio">
                    <table width="70%">
                        <tr>
                            <td><p:outputLabel value="Apartamento Num."/></td>
                            <td><p:outputLabel value="#{ApartamentoBean.objApartamentoSelect.numero}"/></td>
                            <td><p:outputLabel value=" Descripçao"/></td>
                            <td><p:outputLabel value="#{ApartamentoBean.objApartamentoSelect.descricao}"/></td>
                        </tr>
                        <tr>
                            <td><p:outputLabel value="Tipo"/></td>
                            <td><p:outputLabel value="#{ApartamentoBean.objApartamentoSelect.tipo.valor}"/></td>
                            <td><p:outputLabel value=" Capacidade"/></td>
                            <td><p:outputLabel value="#{ApartamentoBean.objApartamentoSelect.capacidade} Pessoas"/>
                            </td>
                        </tr>
                        <tr>
                            <td><p:outputLabel value="Costo x Dia"/></td>
                            <td><p:outputLabel value="#{ApartamentoBean.objApartamentoSelect.costo}"/></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </p:panel>
                <p:panel id="pnlReservasCliente">
                    Reservas<p/>
                    <p:dataTable id="tblReservas" var="reserva" value="#{ApartamentoBean.lstReservas}" paginator="true"
                                 rows="10" paginatorPosition="bottom" rowsPerPageTemplate="10,20,50"
                                 emptyMessage="Não existen dados">
                        <p:column headerText="Cod. Cliente " style="width:5%">
                            <h:outputText value="#{reserva.clienteReserva.codCliente}"/>
                        </p:column>
                        <p:column headerText="Cliente" style="width:15%">
                            <h:outputText value="#{reserva.clienteReserva.nome} #{reserva.clienteReserva.sobreNome}"/>
                        </p:column>
                        <p:column headerText="Inicio Reserva" style="width:15%">
                            <h:outputText value="#{ApartamentoBean.dateToStringShort(reserva.inicioReserva)}"/>
                        </p:column>
                        <p:column headerText="Fin Reserva" style="width:15%">
                            <h:outputText value="#{ApartamentoBean.dateToStringShort(reserva.finReserva)}"/>
                        </p:column>
                        <p:column headerText="Apartamento" style="width:15%">
                            <h:outputText value="#{reserva.apartamentos[0].numero}"/>
                        </p:column>
                        <p:column headerText="Estado" style="width:15%">
                            <h:outputText value="#{reserva.estado}"/>
                        </p:column>
                    </p:dataTable>
                </p:panel>
                <p:panel id="pnlEstadiasCliente">
                    Estadias<p/>
                    <p:dataTable id="tblEstadias" var="estadia" value="#{ApartamentoBean.lstEstadias}" paginator="true"
                                 rows="10" paginatorPosition="bottom" rowsPerPageTemplate="10,20,50" widgetVar="estadiasTable"
                                 emptyMessage="Não existen dados">
                        <p:column headerText="Cod. Cliente " style="width:5%">
                            <h:outputText value="#{estadia.clienteTitular.codCliente}"/>
                        </p:column>
                        <p:column headerText="Cliente" style="width:15%">
                            <h:outputText value="#{estadia.clienteTitular.nome} #{estadia.clienteTitular.sobreNome}"/>
                        </p:column>
                        <p:column headerText="Inicio Estadia" style="width:15%">
                            <h:outputText value="#{ClienteBean.dateToStringShort(estadia.dataInicio)}"/>
                        </p:column>
                        <p:column headerText="Fin Estadia" style="width:15%">
                            <h:outputText value="#{ClienteBean.dateToStringShort(estadia.dataFin)}"/>
                        </p:column>
                        <p:column headerText="Apartamento" style="width:15%">
                            <h:outputText value="#{estadia.apartamento.numero}"/>
                        </p:column>
                        <p:column headerText="Tipo" style="width:15%">
                            <h:outputText value="#{estadia.apartamento.tipo.descricao}"/>
                        </p:column>
                        <p:column headerText="Estado" style="width:15%">
                            <h:outputText value="#{estadia.estado}"/>
                        </p:column>
                    </p:dataTable>
                </p:panel>
            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>
</html>
