<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<ui:composition template="/WEB-INF/facelets/templates/principal.xhtml">
    <ui:define name="title">
        <h:outputText value="Relatorio Cliente"/>
    </ui:define>
    <ui:define name="content">
        <h1>Relatorio Cliente</h1>
        <h:form id="fPrincipal">
            <p:panel header="Procurar Cliente" id="pnlProcurarCliente">
                <table>
                    <tr>
                        <td><p:outputLabel value="Cod. Cliente"/></td>
                        <td><p:inputText id="txtCodCliente"
                                         value="#{ClienteBean.objClienteProcura.codCliente}"/>
                        </td>
                        <td><p:outputLabel value="Nome"/></td>
                        <td><p:inputText id="txtNomeCliente"
                                         value="#{ClienteBean.objClienteProcura.nome}"/>
                        </td>
                        <td><p:outputLabel value="Sobre Nome"/></td>
                        <td><p:inputText id="txtSobreNomeCliente"
                                         value="#{ClienteBean.objClienteProcura.sobreNome}"/>
                        </td>
                    </tr>
                    <tr>
                        <td><p:outputLabel value="Doc. Id"/></td>
                        <td><p:inputText id="txtDocIdCliente"
                                         value="#{ClienteBean.objClienteProcura.docId}"/>
                        </td>
                        <td><p:outputLabel value="CPF"/></td>
                        <td><p:inputText id="txtCPF"
                                         value="#{ClienteBean.objClienteProcura.cpf}"/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <p:commandButton value="Procurar Cliente" icon="ui-icon-search"
                                             actionListener="#{ClienteBean.procurarClientes}"
                                             update=":fPrincipal"/>

                        </td>
                    </tr>
                </table>
                <p:panel id="pnlTableProcuraCliente" visible="#{!ClienteBean.vRelatorioCliente}">
                    <p:dataTable id="tblClientes" var="cliente"
                                 value="#{ClienteBean.lstClientes}"
                                 emptyMessage="Não existem apartamentos livres">
                        <p:column headerText="Cod Cliente " style="width:5%">
                            <h:outputText value="#{cliente.codCliente}"/>
                        </p:column>
                        <p:column headerText="Nome" style="width:15%">
                            <h:outputText value="#{cliente.nome} #{cliente.sobreNome}"/>
                        </p:column>
                        <p:column headerText="CPF" style="width:15%">
                            <h:outputText value="#{cliente.cpf}"/>
                        </p:column>
                        <p:column headerText="Doc. Id" style="width:15%">
                            <h:outputText value="#{cliente.docId} "/>
                        </p:column>
                        <p:column headerText="Telefono" style="width:15%">
                            <h:outputText value="#{cliente.telefono} "/>
                        </p:column>
                        <p:column style="width:5%" headerText="Sel">
                            <p:commandButton id="btnSelecionar"
                                             icon="ui-icon-ok" title="Selecionar"
                                             update=":fPrincipal"
                                             actionListener="#{ClienteBean.selecionarCliente(cliente)}">
                                <f:setPropertyActionListener value="#{cliente}"
                                                             target="#{ClienteBean.objClienteSelect}"/>
                            </p:commandButton>
                        </p:column>
                    </p:dataTable>
                </p:panel>
            </p:panel>
            <p:panel id="pnlRelatorio" visible="#{ClienteBean.vRelatorioCliente}" header="Relatorio Cliente">
                <p:panel id="pnlDatosClienteRelatorio">
                    <table width="70%">
                        <tr>
                            <td><p:outputLabel id="lblTitCodCliete" value="Cod. Cliente"
                                               style="font-weight: bold"/></td>
                            <td><p:outputLabel id="lblDadoCodCliete"
                                               value="#{ClienteBean.objClienteSelect.codCliente}"/>
                            </td>
                            <td><p:outputLabel id="lblTitNomeCliente" value="Nome"
                                               style="font-weight: bold"/></td>
                            <td><p:outputLabel id="lblDadoNomeCliente"
                                               value="#{ClienteBean.objClienteSelect.nome}"/>
                            </td>
                            <td><p:outputLabel id="lblTitSobreNomeCliente" value="Sobre Nome"
                                               style="font-weight: bold"/></td>
                            <td><p:outputLabel id="lblDadoSobreNomeCliente"
                                               value="#{ClienteBean.objClienteSelect.sobreNome}"/>
                            </td>
                        </tr>
                        <tr>
                            <td><p:outputLabel id="lblTitDocIdCliente" value="Doc. ID"
                                               style="font-weight: bold"/></td>
                            <td><p:outputLabel id="lblDadoDocIdCliente"
                                               value="#{ClienteBean.objClienteSelect.docId}"/>
                            </td>
                            <td><p:outputLabel id="lblTitCPF" value="CPF" style="font-weight: bold"/>
                            </td>
                            <td><p:outputLabel id="lblDadoCPF"
                                               value="#{ClienteBean.objClienteSelect.cpf}"/>
                            </td>
                            <td><p:outputLabel value="Telefono" style="font-weight: bold"/></td>
                            <td><p:outputLabel id="lblTelefono"
                                               value="#{ClienteBean.objClienteSelect.telefono}"/>
                            </td>
                        </tr>
                        <tr>
                            <td><p:outputLabel value="Pais" style="font-weight: bold"/></td>
                            <td><p:outputLabel id="lblPais"
                                               value="#{ClienteBean.objClienteSelect.pais.valor}"/>
                            </td>
                            <td><p:outputLabel value="Cidade" style="font-weight: bold"/></td>
                            <td><p:outputLabel id="lblCidade"
                                               value="#{ClienteBean.objClienteSelect.cidade}"/>
                            </td>
                            <td><p:outputLabel value="E-mail" style="font-weight: bold"/></td>
                            <td><p:outputLabel id="lblEmail"
                                               value="#{ClienteBean.objClienteSelect.EMail}"/>
                            </td>
                        </tr>
                        <tr>
                            <td><p:outputLabel value="Endereço" style="font-weight: bold"/></td>
                            <td colspan="5"><p:outputLabel id="lblEndereco"
                                                           value="#{ClienteBean.objClienteSelect.endereco}"/>
                            </td>
                        </tr>
                    </table>
                </p:panel>
                <p:panel id="pnlReservasCliente">
                    Reservas<p/>
                    <p:dataTable id="tblReservas" var="reserva" value="#{ClienteBean.lstReservas}" paginator="true"
                                 rows="10" paginatorPosition="bottom" rowsPerPageTemplate="10,20,50"
                                 emptyMessage="Não existen dados">
                        <p:column headerText="Cod. Cliente " style="width:5%">
                            <h:outputText value="#{reserva.clienteReserva.codCliente}"/>
                        </p:column>
                        <p:column headerText="Cliente" style="width:15%">
                            <h:outputText value="#{reserva.clienteReserva.nome} #{reserva.clienteReserva.sobreNome}"/>
                        </p:column>
                        <p:column headerText="Inicio Reserva" style="width:15%">
                            <h:outputText value="#{ClienteBean.dateToStringShort(reserva.inicioReserva)}"/>
                        </p:column>
                        <p:column headerText="Fin Reserva" style="width:15%">
                            <h:outputText value="#{ClienteBean.dateToStringShort(reserva.finReserva)}"/>
                        </p:column>
                        <p:column headerText="Apartamento" style="width:15%">
                            <h:outputText value="#{reserva.apartamentos[0].numero}"/>
                        </p:column>
                        <p:column headerText="Estado" style="width:15%">
                            <h:outputText value="#{reserva.estado}"/>
                        </p:column>
                    </p:dataTable>
                </p:panel>
                <p:panel id="pnlEstadiasCliente">
                    Estadias<p/>
                    <p:dataTable id="tblEstadias" var="estadia" value="#{ClienteBean.lstEstadias}" paginator="true"
                                 rows="10" paginatorPosition="bottom" rowsPerPageTemplate="10,20,50" widgetVar="estadiasTable"
                                 emptyMessage="Não existen dados">
                        <p:column headerText="Cod. Cliente " style="width:5%">
                            <h:outputText value="#{estadia.clienteTitular.codCliente}"/>
                        </p:column>
                        <p:column headerText="Cliente" style="width:15%">
                            <h:outputText value="#{estadia.clienteTitular.nome} #{estadia.clienteTitular.sobreNome}"/>
                        </p:column>
                        <p:column headerText="Inicio Estadia" style="width:15%">
                            <h:outputText value="#{ClienteBean.dateToStringShort(estadia.dataInicio)}"/>
                        </p:column>
                        <p:column headerText="Fin Estadia" style="width:15%">
                            <h:outputText value="#{ClienteBean.dateToStringShort(estadia.dataFin)}"/>
                        </p:column>
                        <p:column headerText="Apartamento" style="width:15%">
                            <h:outputText value="#{estadia.apartamento.numero}"/>
                        </p:column>
                        <p:column headerText="Tipo" style="width:15%">
                            <h:outputText value="#{estadia.apartamento.tipo.descricao}"/>
                        </p:column>
                        <p:column headerText="Estado" style="width:15%">
                            <h:outputText value="#{estadia.estado}"/>
                        </p:column>
                    </p:dataTable>
                </p:panel>
            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>
</html>
