<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<ui:composition template="/WEB-INF/facelets/templates/principal.xhtml">
    <ui:define name="title">
        <h:outputText value="Relatorio Cliente"/>
    </ui:define>
    <ui:define name="content">
        <h1>Relatorio Hotel</h1>
        <h:form id="fPrincipal">
            <p:panel id="pnlRelatorio" >
                <img src="../images/logolp.png" alt="#" height="70" width="150"/>
                <p:panel id="pnlDatosClienteRelatorio">
                    <table width="800px" style="border-collapse:separate; border-spacing: 15px;" >
                        <tr>
                            <td><p:outputLabel id="lblTitDataInicio" value="Data Inicio Relatorio"
                                               style="font-weight: bold"/></td>
                            <td><p:outputLabel id="lblDadoDataInicio"
                                               value="#{HotelBean.dateToStringShort(HotelBean.dataInicio)}"/>
                            </td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td><p:outputLabel id="lblTitDataFim" value="Data Fim Relatorio"
                                               style="font-weight: bold"/></td>
                            <td><p:outputLabel id="lblDataFim"
                                               value="#{HotelBean.dateToStringShort(HotelBean.dataFim)}"/>
                            </td>
                        </tr>
                        <tr>
                            <td><p:outputLabel id="lblTitCodCliete" value="Número Apartamento"
                                               style="font-weight: bold"/></td>
                            <td><p:outputLabel id="lblDadoCodCliete"
                                               value="#{HotelBean.numeroApartamentos}"/>
                            </td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td><p:outputLabel id="lblTitNomeCliente" value="Número Apartamentos Ocupados"
                                               style="font-weight: bold"/></td>
                            <td><p:outputLabel id="lblDadoNomeCliente"
                                               value="#{HotelBean.numeroApartamentosOcupados}"/>
                            </td>
                        </tr>
                        <tr>
                            <td><p:outputLabel id="lblTitSobreNomeCliente" value="Valor total no mês"
                                               style="font-weight: bold"/></td>
                            <td><p:outputLabel id="lblDadoSobreNomeCliente"
                                               value="#{HotelBean.costoMes}"/>
                            </td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td><p:outputLabel id="lblTitDocIdCliente" value="Número Hospedes no Mês"
                                               style="font-weight: bold"/></td>
                            <td><p:outputLabel id="lblDadoDocIdCliente"
                                               value="#{HotelBean.numeroHospedes}"/>
                            </td>
                        </tr>
                        <tr>
                            <td><p:outputLabel id="lblTitCPF" value="Número reservas na data atual" style="font-weight: bold"/>
                            </td>
                            <td><p:outputLabel id="lblDadoCPF"
                                               value="#{HotelBean.numeroReservas}"/>
                            </td>
                        </tr>
                    </table>
                </p:panel>
            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>
</html>
