<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<ui:composition template="/WEB-INF/facelets/templates/principal.xhtml">
    <ui:define name="title">
        <h:outputText value="Reservas"/>
    </ui:define>
    <ui:define name="content">
        <h1>Reservas</h1>
        <h:form>
            <p:commandButton value="Nova reserva" actionListener="#{ReservasBean.nuevaReserva}" ajax="false" icon="ui-icon-plusthick"/>
            <p:dataTable id="tblReservas" var="reserva" value="#{ReservasBean.lstReservas}" paginator="true"
                         rows="10" paginatorPosition="bottom" rowsPerPageTemplate="10,20,50"
                         emptyMessage="Não existen dados" filteredValue="#{ReservasBean.lstReservasFilter}">
                <p:column headerText="Cod. Reserva" style="width:5%" filterBy="#{reserva.codReserva}">
                    <h:outputText value="#{reserva.codReserva}"/>
                </p:column>
                <p:column headerText="Cod. Cliente " style="width:5%" filterBy="#{reserva.clienteReserva.codCliente}">
                    <h:outputText value="#{reserva.clienteReserva.codCliente}"/>
                </p:column>
                <p:column headerText="Nome" style="width:15%" filterBy="#{reserva.clienteReserva.nome}">
                    <h:outputText value="#{reserva.clienteReserva.nome}"/>
                </p:column>
                <p:column headerText="Sobre Nome" style="width:15%" filterBy="#{reserva.clienteReserva.sobreNome}">
                    <h:outputText value=" #{reserva.clienteReserva.sobreNome}"/>
                </p:column>
                <p:column headerText="Inicio Reserva" style="width:15%">
                    <h:outputText value="#{ReservasBean.dateToStringShort(reserva.inicioReserva)}"/>
                </p:column>
                <p:column headerText="Fin Reserva" style="width:15%">
                    <h:outputText value="#{ReservasBean.dateToStringShort(reserva.finReserva)}"/>
                </p:column>
                <p:column headerText="Apartamento" style="width:15%" filterBy="#{reserva.apartamentos[0].numero}">
                    <h:outputText value="#{reserva.apartamentos[0].numero}"/>
                </p:column>
                <p:column style="width:5%" headerText="Check In">
                    <p:commandButton id="btnCheckIn"
                                     icon="ui-icon-circle-arrow-s" title="Check In" disabled="#{!ReservasBean.dataActual(reserva.inicioReserva)}"
                                     actionListener="#{ReservasBean.nuevaEstadia(reserva)}"
                                     ajax="false">

                    </p:commandButton>
                </p:column>

            </p:dataTable>
        </h:form>
    </ui:define>
</ui:composition>
</html>
