<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
<ui:composition>

    <h:form>
        <p:menubar>
            <p:menuitem value="Reservas" url="/adm/reserva.jsf" icon="ui-icon-circle-check" />
            <p:menuitem value="Estadias" url="/adm/estadia.jsf" icon="ui-icon-circle-close" />
            <p:menuitem value="Clientes" url="/adm/cliente.jsf" icon="ui-icon-person" />
            <p:submenu label="Relatorios" icon="ui-icon-document">
                <p:menuitem value="Relat. Hotel" url="/adm/relatorioHotel.jsf" icon="ui-icon-calculator" />
                <p:menuitem value="Relat. Cliente" url="/adm/relatorioCliente.jsf" icon="ui-icon-person" />
                <p:menuitem value="Relat. Apartamento" url="/adm/relatorioApartamento.jsf" icon="ui-icon-home" />
            </p:submenu>

            <f:facet name="options">
                <b><p:outputLabel style="margin-right:10px; margin-top: 20px; " value="Usuario: "/></b>
                <p:outputLabel style="margin-right:10px" value="#{LoginBean.usuarioActual.nome} #{LoginBean.usuarioActual.sobreNome}"/>
            </f:facet>

            <p:menuitem value="Salir" icon="ui-icon-close" actionListener="#{LoginBean.salir}"/>
        </p:menubar>
    </h:form>
</ui:composition>
</html>